@import 'pwa-colors.scss';

.reveal .slides section {
  .center {
    text-align: center;
  }
  .big-text {
    font-size: 3em;
  }

  &.fire-basic-slide {
    .center-big {
      text-align: center;
      font-size: 2.5em;
      color: black;
    }
    h1.center-big {
      font-size: 3em;
    }
  }

  &.with-code,
  &.with-code-dark {
    pre.big-code:not(.literal) {
      position: relative;
      top: 0;
    }
  }

  img[alt*='full-width-screen'] {
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }

  img[alt*='bottom'] {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

/**
Specifics
*/

@import 'exercice.scss';
@import 'quotation.scss';
@import 'copyright.scss';
@import 'shadow-title.scss';
@import 'columns.scss';
@import '12_definition.scss';
@import '21_securite.scss';
@import '32-2_device-2.scss';
@import '43_performance.scss';
@import '60_conclusion.scss';

/* Overrides */

.reveal pre code {
  max-height: 1000px;
}

.reveal .slides section[data-background].speaker-slide img[alt*='speaker'] {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.reveal .slides section[data-background].speaker-slide img[alt*='company'] {
  position: absolute;
  top: 300px;
  left: 750px;
}

.reveal .slides section.with-code pre code,
.reveal .slides section.with-code-dark pre code {
  max-height: 900px;
}
