.reveal .slides section.quote > p {
  text-align: center;
  padding: 2.5em;
  font-size: 2em;
}

.reveal .slides section .quotation {
  text-align: justify;
  padding: 0 1em;

  &:before {
    content: '«';
    font-weight: bold;
    font-size: 1.5em;
  }

  &:after {
    content: '»';
    font-weight: bold;
    font-size: 1.5em;
  }

  &-author {
    text-align: right;
    font-style: italic;
    padding-right: 3em;
    margin-top: 0;
    font-size: 0.9em;

    &:before {
      content: '—';
    }
  }
}
