/.vscode/*
!/.vscode/settings.json
!/.vscode/md-import.code-snippets
!/.vscode/spellright.dict
dist/
build/
/livre-build/public
node_modules
/docs/pages/en/material/*
!/docs/pages/en/material/README.md
/docs/pages/fr/material/*
!/docs/fr/material/README.md
/docs/.vuepress/public/graphs
/docs/.vuepress/public/images
/docs/views/
