/.vscode/*
!/.vscode/settings.json
!/.vscode/md-import.code-snippets
!/.vscode/spellright.dict
/dist
node_modules
/docs/material/*
!/docs/material/README.md
/docs/fr/material/*
!/docs/fr/material/README.md
/docs/.vuepress/public/graphs
/docs/.vuepress/public/images
/docs/pages/*/*/**/*.js
