.nav-links a:hover,
.nav-links a.router-link-active {
  color: var(--secondary-color);
}

.nav-item > a:not(.external).router-link-active {
  margin-bottom: -2px;
  border-bottom: 2px solid var(--secondary-color);
}

.lang-selector .nav-item > a.router-link-active {
  border-bottom: none;
}
