/*#region root*/
html,
body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #000d;

  --primary-color: #00796b;
  --primary-color-light: #48a999;
  --primary-color-dark: #004c40;
  --secondary-color: #ffc400;
  --secondary-color-light: #fff64f;
  --secondary-color-dark: #c79400;

  --neutral-color: #000;
  --neutral-color-900: #212121;
  --neutral-color-800: #424242;
  --neutral-color-700: #616161;
  --neutral-color-600: #757575;
  --neutral-color-500: #9e9e9e;
  --neutral-color-400: #bdbdbd;
  --neutral-color-300: #e0e0e0;
  --neutral-color-200: #eeeeee;
  --neutral-color-100: #f5f5f5;
  --neutral-color-50: #fafafa;
  --neutral-color-0: #fff;

  --text-on-primary: var(--neutral-color-0);
  --text-on-primary-light: var(--neutral-color);
  --text-on-primary-dark: var(--neutral-color-0);
  --text-on-secondary: var(--neutral-color);

  --link-color: #3344dd;

  --elevation-1-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  --elevation-2-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
  --elevation-3-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
    0 6px 6px rgba(0, 0, 0, 0.23);
  --elevation-4-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  --elevation-5-shadow: 0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
}

a {
  font-weight: 500;
  color: var(--link-color);
  text-decoration: none;
}

p a code {
  font-weight: 400;
  color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.25;
}

h1:hover .header-anchor,
h2:hover .header-anchor,
h3:hover .header-anchor,
h4:hover .header-anchor,
h5:hover .header-anchor,
h6:hover .header-anchor {
  opacity: 1;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--neutral-color-300);
}
h3 {
  font-size: 1.35rem;
}
a.header-anchor {
  font-size: 0.85em;
  float: left;
  margin-left: -0.87em;
  padding-right: 0.23em;
  margin-top: 0.125em;
  opacity: 0;
}
a.header-anchor:hover {
  text-decoration: none;
}
/*#region root*/

.navbar {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
  height: 3.6rem;
  background-color: var(--primary-color);
  color: var(--text-on-primary);
  box-sizing: border-box;
  border-bottom: 1px solid #0001;
  padding: 0.7rem 1.5rem;
  line-height: 2.2rem;
  box-shadow: var(--elevation-3-shadow);
}
.navbar a,
.navbar span,
.navbar img {
  display: inline-block;
}
.navbar .logo {
  height: 2.2rem;
  min-width: 2.2rem;
  margin-right: 0.8rem;
  vertical-align: top;
}
.navbar .site-name {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--text-on-primary);
  position: relative;
}
.navbar .links {
  padding-left: 1.5rem;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 0.9rem;
  position: absolute;
  right: 1.5rem;
  top: 0.7rem;
  display: flex;
}
.navbar .links .search-box {
  flex: 0 0 auto;
  vertical-align: top;
}

.nav-links {
  display: inline-block;
}
.nav-links a {
  line-height: 1.4rem;
}
.navbar .nav-links a {
  color: var(--text-on-primary);
}
.sidebar .nav-links a {
  color: var(--neutral-color);
}

.nav-links a.router-link-active {
  font-weight: bold;
}

.nav-links .nav-item,
.lang-selector {
  position: relative;
  display: inline-block;
  margin-left: 1.5rem;
  line-height: 2rem;
}
.nav-links .nav-item:first-child {
  margin-left: 0;
}
.nav-links .repo-link {
  margin-left: 1.5rem;
}

.sidebar-mask {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}
.sidebar {
  font-size: 16px;
  background-color: #fff;
  width: 20rem;
  position: fixed;
  z-index: 10;
  margin: 0;
  top: 3.6rem;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
  border-right: 1px solid var(--neutral-color-300);
  overflow-y: auto;
}

.sidebar ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sidebar a {
  display: inline-block;
}
.sidebar .nav-links {
  display: none;
  border-bottom: 1px solid var(--neutral-color-300);
  padding: 0.5rem 0 0.75rem 0;
}
.sidebar .nav-links a {
  font-weight: 600;
}
.sidebar .nav-links .nav-item,
.sidebar .nav-links .repo-link {
  display: block;
  line-height: 1.25rem;
  font-size: 1.1em;
  padding: 0.5rem 0 0.5rem 1.5rem;
}
.sidebar > .sidebar-links {
  padding: 1.5rem 0;
}
.sidebar > .sidebar-links > li > a.sidebar-link {
  font-size: 1.1em;
  line-height: 1.7;
  font-weight: bold;
}
.sidebar > .sidebar-links > li:not(:first-child) > a {
  padding-top: 0.75rem;
}
.sidebar .sidebar-sub-headers {
  padding-left: 1rem;
  font-size: 0.95em;
}
a.sidebar-link {
  font-size: 1em;
  font-weight: 400;
  display: inline-block;
  color: #000;
  border-left: 0.25rem solid transparent;
  padding: 0.35rem 1rem 0.35rem 1.25rem;
  line-height: 1.4;
  width: 100%;
  box-sizing: border-box;
}
a.sidebar-link:hover,
.sidebar .nav-item:hover {
  background-color: var(--secondary-color-light);
}
a.sidebar-link.active,
.sidebar .nav-item.active {
  font-weight: 600;
  background-color: var(--secondary-color-light);
  border-left-color: var(--secondary-color);
}
.sidebar-group a.sidebar-link {
  padding-left: 2rem;
}
.sidebar-sub-headers a.sidebar-link {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-left: none;
}
.sidebar-sub-headers a.sidebar-link.active {
  font-weight: 500;
}
.sidebar-group .sidebar-group {
  padding-left: 0.5em;
}
.sidebar-group:not(.collapsable) .sidebar-heading:not(.clickable) {
  cursor: auto;
  color: inherit;
}
.sidebar-group.is-sub-group {
  padding-left: 0;
}
.sidebar-group.is-sub-group > .sidebar-heading {
  font-size: 0.95em;
  line-height: 1.4;
  font-weight: normal;
  padding-left: 2rem;
}
.sidebar-group.is-sub-group > .sidebar-heading:not(.clickable) {
  opacity: 0.5;
}
.sidebar-group.is-sub-group > .sidebar-group-items {
  padding-left: 1rem;
}
.sidebar-group.is-sub-group > .sidebar-group-items > li > .sidebar-link {
  font-size: 0.95em;
  border-left: none;
}
.sidebar-group.depth-2 > .sidebar-heading {
  border-left: none;
}
.sidebar-heading {
  color: #000;
  transition: color 0.15s ease;
  cursor: pointer;
  font-size: 1.1em;
  font-weight: bold;
  padding: 0.35rem 1.5rem 0.35rem 1.25rem;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  border-left: 0.25rem solid transparent;
}
.sidebar-heading.open,
.sidebar-heading:hover {
  color: inherit;
}
.sidebar-heading .arrow {
  position: relative;
  top: -0.12em;
  left: 0.5em;
}
.sidebar-heading.clickable.active {
  font-weight: 600;
  color: var(--secondary-color);
  border-left-color: var(--secondary-color);
}
.sidebar-heading.clickable:hover {
  color: var(--secondary-color);
}
.sidebar-group-items {
  transition: height 0.1s ease-out;
  font-size: 0.95em;
  overflow: hidden;
}
.sidebar-button {
  cursor: pointer;
  display: none;
  width: 1.25rem;
  height: 1.25rem;
  position: absolute;
  padding: 0.6rem;
  top: 0.6rem;
  left: 1rem;
}
.sidebar-button .icon {
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}

/* FIXME: use js instead */

details[open] summary ~ * {
  animation: sweepin 0.1s ease-out;
}

@keyframes sweepin {
  0% {
    opacity: 0;
    margin-top: -1rem;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.lang-selector a.router-link-active::after,
.lang-selector a:hover::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid var(--secondary-color);
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  position: absolute;
  top: calc(50% - 2px);
  left: -9px;
}
