.theme-default-content:not(.custom) > *:first-child {
  margin-top: 3.6rem;
}
.theme-default-content:not(.custom) a:hover {
  text-decoration: underline;
}
h1:focus {
  outline: 1px dashed var(--secondary-color-dark);
}
blockquote {
  font-size: 1rem;
  color: var(--neutral-color-700);
  border-left: 0.2rem solid var(--neutral-color-300);
  margin: 1rem 0;
  padding: 0.25rem 0 0.25rem 1rem;
}
blockquote > p {
  margin: 0;
}
ul,
ol {
  padding-left: 1.2em;
}
strong {
  font-weight: 600;
}
code,
kbd,
.line-number {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
p,
ul,
ol {
  line-height: 1.7;
}
hr {
  border: 0;
  border-top: 1px solid var(--neutral-color-300);
}
table {
  border-collapse: collapse;
  margin: 1rem 0;
  overflow-x: auto;
  width: 100%;
}
tr {
  border-top: 1px solid var(--neutral-color-300);
}
tr.header {
  background-color: var(--neutral-color-200);
}
tr:nth-child(2n) {
  background-color: var(--neutral-color-100);
}
th,
td {
  border: 1px solid var(--neutral-color-300);
  padding: 0.6em 1em;
}
.theme-container.sidebar-open .sidebar-mask {
  display: block;
}
.theme-container.no-navbar .sidebar {
  top: 0;
}
.page {
  padding-left: 20rem;
}
.page-edit {
  max-width: 936px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
  margin-top: 3rem;
}
@media (max-width: 959px) {
  .page-edit {
    padding: 2rem;
  }
}
@media (max-width: 419px) {
  .page-edit {
    padding: 1.5rem;
  }
}
.page-edit {
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;
}
.page-edit .edit-link {
  display: inline-block;
}
.page-edit .edit-link a {
  color: var(--neutral-color-800);
  margin-right: 0.25rem;
}
.page-edit .last-updated {
  float: right;
  font-size: 0.9em;
}
.page-edit .last-updated .prefix {
  font-weight: 500;
  color: var(--neutral-color-800);
}
.page-edit .last-updated .time {
  font-weight: 400;
  color: var(--neutral-color-600);
}
@media (max-width: 719px) {
  .page-edit .edit-link {
    margin-bottom: 0.5rem;
  }
  .page-edit .last-updated {
    font-size: 0.8em;
    float: none;
    text-align: left;
  }
}

/*#region content*/
.custom-block .custom-block-title {
  font-weight: 600;
  margin-bottom: -0.4rem;
}
.tip,
.warning,
.danger {
  padding: 0.1rem 1.5rem;
  border-left-width: 0.5rem;
  border-left-style: solid;
  margin: 1rem 0;
}
.tip {
  background-color: #f3f5f7;
  border-color: #42b983;
}
.warning {
  background-color: rgba(255, 229, 100, 0.3);
  border-color: #e7c000;
  color: #6b5900;
}
.warning .custom-block-title {
  color: #b29400;
}
.warning a {
  color: #000;
}
.danger {
  background-color: #ffe6e6;
  border-color: #c00;
  color: #4d0000;
}
.danger .custom-block-title {
  color: #900;
}
.danger a {
  color: #000;
}
.details,
.page details {
  display: block;
  position: relative;
  border-radius: 2px;
  margin: 1.6em 0;
  padding: 1.6em;
  background-color: var(--neutral-color-200);
}
.details h4 {
  margin-top: 0;
}
.details figure:last-child,
.details p:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}
.details summary {
  outline: none;
  cursor: pointer;
}
.arrow {
  display: inline-block;
  width: 0;
  height: 0;
}
.arrow.up {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid #ccc;
}
.arrow.down {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 6px solid #ccc;
}
.arrow.right {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 6px solid #ccc;
}
.arrow.left {
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-right: 6px solid #ccc;
}
.theme-default-content:not(.custom) {
  max-width: 936px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
  background-color: var(--neutral-color-0);
}
@media (max-width: 959px) {
  .theme-default-content:not(.custom) {
    padding: 2rem;
  }
}
@media (max-width: 419px) {
  .theme-default-content:not(.custom) {
    padding: 1.5rem;
  }
}
.table-of-contents .badge {
  vertical-align: middle;
}

kbd {
  background: #eee;
  border: solid 0.15rem #ddd;
  border-bottom: solid 0.25rem #ddd;
  border-radius: 0.15rem;
  padding: 0 0.15em;
}
/*#region content*/

main.fullwidth {
  max-width: none;
}

main.fullwidth .theme-default-content:not(.custom) {
  max-width: none;
}

@media (min-width: 720px) {
  .theme-container.no-sidebar .sidebar {
    display: none;
  }
  .theme-container.no-sidebar .page {
    padding-left: 0;
  }
}
@media (max-width: 959px) {
  .sidebar {
    font-size: 15px;
    width: 16.4rem;
  }
  .page {
    padding-left: 16.4rem;
  }
}
@media (max-width: 719px) {
  .sidebar {
    top: 0;
    padding-top: 3.6rem;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
  }
  .page {
    padding-left: 0;
  }
  .theme-container.sidebar-open .sidebar {
    transform: translateX(0);
  }
}
@media (max-width: 419px) {
  h1 {
    font-size: 1.9rem;
  }
  .theme-default-content div[class*="language-"] {
    margin: 0.85rem -1.5rem;
    border-radius: 0;
  }
}

img {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

figure {
  margin: 3rem 0;
  width: 100%;
}

figcaption {
  text-align: center;
  font-style: italic;
  margin: 1rem 0;
  color: var(--neutral-color-800);
}

.page a[target="_blank"]:after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' x='0px' y='0px' viewBox='0 0 100 100' width='15' height='15' class='icon outbound'%3E%3Cpath fill='#424242' d='M18.8,85.1h56l0,0c2.2,0,4-1.8,4-4v-32h-8v28h-48v-48h28v-8h-32l0,0c-2.2,0-4,1.8-4,4v56C14.8,83.3,16.6,85.1,18.8,85.1z'%3E%3C/path%3E%3Cpolygon fill='#424242' points='45.7,48.7 51.3,54.3 77.2,28.5 77.2,37.2 85.2,37.2 85.2,14.9 62.8,14.9 62.8,22.9 71.5,22.9'%3E%3C/polygon%3E%3C/svg%3E");
  vertical-align: middle;
  padding-left: 0.2rem;
}

/* FIXME: tables < 719px */
