<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>HTML Template - basics</title>
    <link rel="stylesheet" href="index.css" />
    <script defer src="index.js"></script>
  </head>
  <body>
    <h1>HTML Template - basics</h1>
    <random-lorem-ipsum></random-lorem-ipsum>
    <template id="random-lorem-ipsum-template">
      <style>
        :host {
          border: 1px solid
            var(--random-text-border-color, black);
          display: block;
          padding: 1rem;
        }
      </style>
      <span class="random-text"></span>
    </template>
  </body>
</html>
