main {
  padding: 1rem;
}

/* #region main-var */
main {
  --random-text-border-color: blue;
}
/* #endregion main-var */

/* #region body-text-color */
body {
  --random-text-color: red;
}
/* #endregion body-text-color */

/* #region random-text-color */
random-text {
  --random-text-color: red;
}
/* #endregion random-text-color */

main > * {
  display: block;
  margin: 1rem 0;
}

h2 > * {
  border: none;
}

main > :first-child {
  text-align: right;
}
