/*#region globals*/
/*#endregion globals*/

/*#region navbar */

#main-header .row {
  height: 64px;
  justify-content: space-between;
}

#main-header .navigation {
  display: none;
}

#header__language-switch {
  display: none;
}

/*#endregion navbar */

/*#region content */

#content-container daucus-menu {
  display: none !important;
}

#page-container {
  padding: 1rem 2rem;
}

/*#endregion content */
