/*#region globals*/

.sm-only {
  display: none;
}

/*#endregion globals*/

/*#region navbar */

.on-homepage #main-header {
  position: initial;
  box-shadow: none;
}

#main-header .navigation {
  padding-left: 50px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  list-style-position: inside;
  margin: 0;
}

#main-header .navigation li {
  padding-bottom: 2px;
  list-style-type: none;
  cursor: pointer;
}

#main-header .navigation li a.nav-link {
  margin: 0 4px;
  padding: 0;
  cursor: pointer;
}

#main-header .navigation li a.nav-link .nav-link-inner {
  border-radius: 5px;
  padding: 8px 16px;
}

#main-header .navigation li a.nav-link .nav-link-inner:hover,
#main-header .navigation li a.nav-link:focus .nav-link-inner,
#main-header .navigation li a.nav-link--activated .nav-link-inner {
  background-color: var(--soft-bg-color);
}

#main-header .navigation li a.nav-link:focus .nav-link-inner {
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.15);
}

#burger-menu {
  margin-right: 50px;
  display: none;
}

/*#endregion navbar */

/*#region content */

#page-container {
  padding: 2rem 3rem;
  flex-grow: 2;
}

.on-homepage #content-container {
  padding-top: 0;
}

#content-container .content {
  display: flex;
}

#standard-menu {
  padding-left: calc(250px + 3rem);
}

#standard-menu daucus-menu {
  position: fixed;
  width: 250px;
  left: 0;
  padding: 2rem 1rem 1rem 2rem;
  overflow: auto;
  max-height: calc(100vh - 6rem - 135px);
}

/* 936px (max-with of #page-container) + 2 * (250px (width of #daucus-menu) + 3rem (padding)) */
@media screen and (min-width: 1533px) {
  #standard-menu {
    padding-left: 0;
  }
}

/*#endregion content */
