:host {
  color: gray;
  border: 1px solid black;
  padding: 1rem;
}

/* #region host-context */
:host-context(h1, h2, h3, h4, p) {
  border: none;
  padding: 0;
}
/* #endregion host-context */

/* #region host-fn */
:host(.line) {
  border: none;
  padding: 0;
}
/* #endregion host-fn */
