.page-edit {
  max-width: 740px;
  margin: 0 auto;
  padding: 2rem 2.5rem;
}
@media (max-width: 959px) {
  .page-edit {
    padding: 2rem;
  }
}
@media (max-width: 419px) {
  .page-edit {
    padding: 1.5rem;
  }
}
.page-edit {
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;
}
.page-edit .edit-link {
  display: inline-block;
}
.page-edit .edit-link a {
  color: #4e6e8e;
  margin-right: 0.25rem;
}
.page-edit .last-updated {
  float: right;
  font-size: 0.9em;
}
.page-edit .last-updated .prefix {
  font-weight: 500;
  color: #4e6e8e;
}
.page-edit .last-updated .time {
  font-weight: 400;
  color: #aaa;
}
@media (max-width: 719px) {
  .page-edit .edit-link {
    margin-bottom: 0.5rem;
  }
  .page-edit .last-updated {
    font-size: 0.8em;
    float: none;
    text-align: left;
  }
}
