/* TODO: this all file should be refactored */

:root {
  background: #ffffff;
  --ion-background-color: #ffffff;

  --main-color: #ed6c30;
  --alt-color: #fcc21b;
  --alt-color-light: #E8D76D;
  --alt-color-group-light: #5CA062;
  --alt-color-group-dark: #195D4D;

  --slide-split-title-display: block;
  --deckgo-highlight-code-font-size: 28px;
}

deckgo-slide-split {
  --slide-split-padding-top: 0;
  --slide-split-padding-bottom: 0;
  --slide-split-text-align: center;
  --slide-split-align: start;
}

deckgo-deck h1,
deckgo-deck h2,
deckgo-deck h3 {
  /* TODO: deckgo issue */
  overflow: visible !important;
}

ion-app.loading,
ion-app.loading a {
  color: transparent;
}

ion-app.loading a {
  color: transparent;
}

ion-app.loading {
  display: none;
}

deckgo-deck {
  color: black;
  --color: black;
  --ion-text-color: black;
  --deckgo-highlight-code-line-background: yellow;
}

body {
  background: #ffffff;

  --react-color: #61dafb;
  --preact-color: #673ab8;
  --redux-color: #764abc;
  --lit-element-color: #2196f3;
  --jquery-color: #d18f4f;
}

.dark {
  --background: #000;
  --color: #fff;
}

.full {
  width: 100%;
  height: 100%;
}

.big {
  font-size: 5em;
}

.flex {
  width: 100%;
  height: 100%;
  display: flex;
}

.flex-center {
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.flex-end {
  justify-content: flex-end;
  text-align: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}

.flex-center img,
.img-row img {
  max-height: 70vh;
}

.flex-center img,
.img-row.fill img {
  width: 100%;
}

.img-row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.img-row .img-container,
.img-row figure {
  flex: 1 1;
}

.img-row img {
  padding: 1em 1em;
}

.img-small-line {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  flex-shrink: 1;
  justify-content: space-around;
  max-height: 200px;
  margin: 1em;
}

.img-small-line > * {
  flex: 0 1 300px;
  margin: 0.5em;
}

.imgs-list {
  flex-wrap: wrap;
}

.imgs-list img {
  max-height: 8vh;
  margin: 1em;
}

figure[slot='content'] {
  text-align: center;
  margin: 0;
  width: 100%;
  max-height: 100%;
}

figure[slot='content'] figcaption {
  font-size: 1.4em;
}

figure[slot='content'] img {
  max-width: 100%;
  max-height: 100%;
}

/* #endregion img-org */

.frame {
  background: center no-repeat url('/assets/img/frame-h.png');
  background-size: contain;
}

h1 {
  text-align: center;
}

.bg-img {
  background-size: contain;
}

.frame * {
  font-size: 2em;
}

.small-code {
  --slide-padding-top: 8em;
}

.strong {
  font-weight: bold;
}

.slide-todo {
  --background: #f00;
  color: #000;
}

.wof-show > a {
  color: red;
  text-decoration: none;
  font-size: 2em;
  text-shadow: 1px 1px 2px #000;
}

.wof-show .sub {
  color: black;
  text-shadow: 1px 1px 2px #fff;
  display: inline-block;
}

.center {
  text-align: center;
}

.lib-chart {
  --deckgo-chart-fill-color-1: var(--react-color);
  --deckgo-chart-fill-color-2: var(--preact-color);
  --deckgo-chart-fill-color-3: var(--redux-color);
  --deckgo-chart-fill-color-4: var(--lit-element-color);
  --deckgo-chart-fill-color-5: var(--jquery-color);
}

.twitter-content {
  width: 100%;
}

.twitter-content twitter-widget {
  margin: 0 auto;
}

.chapter-title-slide {
  --background: var(--main-color);
}

.subchapter-title-slide {
  --background: var(--alt-color);
}

.topic-title-slide {
  --background: var(--alt-color-light);
}

deckgo-social .link {
  color: #4c8dff;
}

.fire-bg {
  background: center no-repeat url('/assets/img/flames.jpg');
  background-size: cover;
}

.fire-icons figure {
  margin: 1em;
}

.fire-icons .img-row {
  align-items: start;
  margin-top: 1em;
}

.fire-icons figcaption {
  font-size: 1.4em;
  font-weight: bold;
}

.fire-icons figcaption:not(:first-of-type) {
  margin-top: 1em;
  font-size: 1.2em;
}

deckgo-reveal.compact {
  text-align: center;
}

deckgo-reveal.compact > * {
  margin: 0;
}

/* TODO: discuss with deckgo team */
deckgo-slide-split deckgo-reveal > * {
  height: fit-content !important;
}

.whatwg.note {
  font: 1em/1.45 Helvetica Neue, sans-serif, Droid Sans Fallback;
  padding: 0.5em 1em;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  color: green;
  background: #ddffdd;
  font-style: italic;
  margin: 1em 0;
  margin-top: 1.5em;
}

.whatwg.note::before {
  background: green;
  padding: 0.15em 0.25em;
  position: absolute;
  top: -0.8em;
  left: -0.8em;
  color: white;
  content: 'Note';
  font: 1em/1.45 Helvetica Neue, sans-serif, Droid Sans Fallback;
}

.ciu-wrapper {
  width: 100%;
}

.ciu_embed {
  margin: 0 auto;
}

ul.reveal-list {
  list-style: none;
}

.reveal-list li {
  margin: 0.5em 0;
}

.square {
  border: solid black 3px;
  box-shadow: 2px 2px 2px black;
}

@media (min-width: 992px) {
  .ciu_embed {
      width: 800px;
  }
}

.demo {
  border: 2px red solid;
}

std-toast {
  font-weight: bold;
  font-size: 3em;
}

.quotation:before {
  content: '«';
  margin-right: 0.2em;
}

.quotation:after {
  content: '»';
  margin-left: 0.2em;
}

.comment {
  font-style: italic;
  font-size: .8em;
}

deckgo-slide-split.split-text > *:not([slot="title"]) {
  justify-content: start;
}

deckgo-slide-split.split-text > *:not([slot="title"]) > * {
  justify-content: start;
  margin: .25em;
}

.meme-title {
  font-family: impact;
  color: white;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 900;
  text-shadow:2px 2px 0 #000,
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  0px 2px 0 #000,
  2px 0px 0 #000,
  0px -2px 0 #000,
  -2px 0px 0 #000,
  2px 2px 5px #000;
}

.resources-slide deckgo-social {
  margin-bottom: 1em;
  font-size: 2em;
}
