<div id="homepage">
  <section class="welcome">
    <div class="homepage_illustration">
      <img
        src="images/web-illustrations/view-code.svg"
        width="500px"
        alt="{{illustration.alt}}"
      />
    </div>
    <div class="action">
      <h1 class="homepage_title">{{pageTitle}}</h1>
      <a href="/learn" class="call-to-action primary">{{cta}}</a>
    </div>
  </section>
  <section class="details">
    {{#details.items}}
    <article>
      <h3>{{title}}</h3>
      {{content}}
    </article>
    {{/details.items}}
  </section>
</div>
