<div id="homepage">
  <section class="welcome">
    <div class="homepage_illustration">
      <img
        src="images/web-illustrations/undraw_Code_review_re_woeb.svg"
        width="500px"
        alt="{{illustration.alt}}"
      />
    </div>
    <div class="action">
      <h1 class="homepage_title">{{title}}</h1>
      <a href="/learn" class="call-to-action primary">{{cta.0}}</a>
      <div class="sm-only">
        <a href="/build" class="call-to-action">{{cta.1}}</a>
        <a href="/news" class="call-to-action">{{cta.2}}</a>
      </div>
    </div>
  </section>
  <h2 class="details-header">{{details.header}}</h2>
  <section class="details">
    <article>
      <h3>Lorem</h3>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
      tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
      Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
    </article>
    <article>
      <h3>Ipsum</h3>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas.
    </article>
    <article>
      <h3>Dolor</h3>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
      tempor sit amet, ante.
    </article>
    <article>
      <h3>Sit Amet</h3>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget,
      tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
      Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
    </article>
    <article>
      <h3>Consectetuer</h3>
      Pellentesque habitant morbi tristique.
    </article>
    <article>
      <h3>Adipiscing Elit</h3>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames
      ac turpis egestas.
    </article>
  </section>
</div>
