<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>fullweb.dev</title>

    <style>
      {{{css.shell}}}
    </style>
    <link
      rel="stylesheet"
      href="/styles/shell_small.css"
      media="screen and (max-width: 1023px)"
    />
    <link
      rel="stylesheet"
      href="/styles/shell_xsmall.css"
      media="screen and (max-width: 374px)"
    />
    <link
      rel="stylesheet"
      href="/styles/shell_large.css"
      media="screen and (min-width: 1024px)"
    />
    <link
      rel="preload"
      href="/styles/not-critical-shell.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="/styles/build/drawer.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      rel="preload"
      href="/styles/build/daucus-pages.css"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />

    <link rel="manifest" href="/manifest.json" />
    <link
      rel="icon"
      type="image/png"
      href="/images/favicon/favicon-96x96.png"
    />
    <meta property="og:site_name" content="fullweb.dev" />
    <meta name="twitter:card" content="summary_large_image" />
    <!-- meta-tags:start -->
    <meta property="og:title" content="fullweb.dev" />
    <meta name="description" content="{{meta.description}}" />
    <meta property="og:description" content="{{meta.description}}" />
    <meta property="og:image" content="{{{meta.twitterCard}}}" />
    <meta name="twitter:image:alt" content="{{meta.description}}" />
    <!-- meta-tags:end -->
  </head>
  <body>
    <aside class="mdc-drawer mdc-drawer--modal" id="mobile-drawer">
      <div class="mdc-drawer__content">
        <div class="mdc-drawer__header">
          <a class="mdc-drawer__title" href="/"
            ><span class="home">fullweb.dev</span></a
          >
        </div>
        <nav class="mdc-list">
          <div id="nav__language-switch">
            <button
              role="switch"
              aria-checked="{{language.isFrench}}"
              id="languageSwitchNav"
              class="i18n-switch"
              data-lang="{{language.otherCode}}"
            >
              <span aria-label="français">fr</span>
              <span aria-label="english">en</span>
            </button>
            <label for="languageSwitchNav" class="switch sr-only"
              >{{language.switcherLabel}}</label
            >
          </div>
          <hr class="mdc-list-divider" />
          <div id="modal-navigation">
            <a class="mdc-list-item" href="/learn">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text">{{nav.0}}</span>
            </a>
            <a class="mdc-list-item" href="/build">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text">{{nav.1}}</span>
            </a>
            <a class="mdc-list-item" href="/news">
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__text">{{nav.2}}</span>
            </a>
          </div>
          <div id="mobile-menu">
            <hr class="mdc-list-divider" />
            <daucus-menu></daucus-menu>
          </div>

          <div class="external-icons">
            <hr class="mdc-list-divider" />
            <a
              class="mdc-list-item"
              href="https://twitter.com/noel_mace"
              rel="noopener noreferrer"
              target="_blank"
            >
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__graphic">
                <svg focusable="false" viewBox="0 0 51.8 50.4" fill="none">
                  <path
                    fill="currentColor"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M50,9.3c-1.8,0.8-3.8,1.4-5.9,1.6c2.1-1.3,3.7-3.3,4.5-5.7c-2,1.2-4.2,2-6.5,2.5c-1.9-2-4.5-3.2-7.5-3.2c-5.7,0-10.3,4.6-10.3,10.3c0,0.8,0.1,1.6,0.3,2.3C16.1,16.7,8.5,12.6,3.5,6.4c-0.9,1.5-1.4,3.3-1.4,5.2c0,3.6,1.8,6.7,4.6,8.5C5,20,3.4,19.6,2,18.8c0,0,0,0.1,0,0.1c0,5,3.5,9.1,8.2,10.1c-0.9,0.2-1.8,0.4-2.7,0.4c-0.7,0-1.3-0.1-1.9-0.2c1.3,4.1,5.1,7,9.6,7.1c-3.5,2.8-7.9,4.4-12.7,4.4c-0.8,0-1.6,0-2.4-0.1c4.5,2.9,9.9,4.6,15.7,4.6c18.9,0,29.2-15.6,29.2-29.2c0-0.4,0-0.9,0-1.3C46.9,13.2,48.6,11.4,50,9.3z"
                  ></path>
                </svg>
              </span>
              <span class="mdc-list-item__text">Twitter</span>
            </a>
            <a
              class="mdc-list-item"
              href="https://github.com/fullwebdev/fullwebdev"
              rel="noopener noreferrer"
              target="_blank"
            >
              <span class="mdc-list-item__ripple"></span>
              <span class="mdc-list-item__graphic">
                <svg focusable="false" viewBox="0 0 51.8 50.4" fill="none">
                  <path
                    fill="currentColor"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M25.9,0.2C11.8,0.2,0.3,11.7,0.3,25.8c0,11.3,7.3,20.9,17.5,24.3c1.3,0.2,1.7-0.6,1.7-1.2c0-0.6,0-2.6,0-4.8c-7.1,1.5-8.6-3-8.6-3c-1.2-3-2.8-3.7-2.8-3.7c-2.3-1.6,0.2-1.6,0.2-1.6c2.6,0.2,3.9,2.6,3.9,2.6c2.3,3.9,6,2.8,7.5,2.1c0.2-1.7,0.9-2.8,1.6-3.4c-5.7-0.6-11.7-2.8-11.7-12.7c0-2.8,1-5.1,2.6-6.9c-0.3-0.7-1.1-3.3,0.3-6.8c0,0,2.1-0.7,7,2.6c2-0.6,4.2-0.9,6.4-0.9c2.2,0,4.4,0.3,6.4,0.9c4.9-3.3,7-2.6,7-2.6c1.4,3.5,0.5,6.1,0.3,6.8c1.6,1.8,2.6,4.1,2.6,6.9c0,9.8-6,12-11.7,12.6c0.9,0.8,1.7,2.4,1.7,4.7c0,3.4,0,6.2,0,7c0,0.7,0.5,1.5,1.8,1.2c10.2-3.4,17.5-13,17.5-24.3C51.5,11.7,40.1,0.2,25.9,0.2z"
                  ></path>
                </svg>
              </span>
              <span class="mdc-list-item__text">GitHub</span>
            </a>
          </div>
        </nav>
      </div>
    </aside>
    <div class="mdc-drawer-scrim"></div>
    <div id="main-content" class="{{globalClass}}">
      <div id="main-content-wrapper">
        <header id="main-header" class="navbar">
          <div class="row">
            <svg viewBox="0 0 100 80" width="25" height="25" id="burger-menu">
              <rect width="100" height="20"></rect>
              <rect y="30" width="100" height="20"></rect>
              <rect y="60" width="100" height="20"></rect>
            </svg>
            <a class="home" href="/">fullweb.dev</a>
            <ul class="navigation" id="header-navigation">
              <li>
                <a class="nav-link" href="/learn"
                  ><span class="nav-link-inner">{{nav.0}}</span></a
                >
              </li>
              <li>
                <a class="nav-link" href="/build"
                  ><span class="nav-link-inner">{{nav.1}}</span></a
                >
              </li>
              <li>
                <a class="nav-link" href="/news"
                  ><span class="nav-link-inner">{{nav.2}}</span></a
                >
              </li>
            </ul>
            <div id="header__language-switch">
              <button
                role="switch"
                aria-checked="{{language.isFrench}}"
                id="languageSwitchHeader"
                class="i18n-switch"
                data-lang="{{language.otherCode}}"
              >
                <span aria-label="français">fr</span>
                <span aria-label="english">en</span>
              </button>
              <label for="languageSwitchHeader" class="switch sr-only"
                >{{language.switcherLabel}}</label
              >
            </div>
            <div class="external-icons-container">
              <a
                class="icon"
                href="https://twitter.com/noel_mace"
                aria-label="fullweb.dev on Twitter"
                rel="noopener noreferrer"
                target="_blank"
              >
                <span class="sr-only">Twitter</span>
                <svg focusable="false" viewBox="0 0 51.8 50.4" fill="none">
                  <path
                    fill="currentColor"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M50,9.3c-1.8,0.8-3.8,1.4-5.9,1.6c2.1-1.3,3.7-3.3,4.5-5.7c-2,1.2-4.2,2-6.5,2.5c-1.9-2-4.5-3.2-7.5-3.2c-5.7,0-10.3,4.6-10.3,10.3c0,0.8,0.1,1.6,0.3,2.3C16.1,16.7,8.5,12.6,3.5,6.4c-0.9,1.5-1.4,3.3-1.4,5.2c0,3.6,1.8,6.7,4.6,8.5C5,20,3.4,19.6,2,18.8c0,0,0,0.1,0,0.1c0,5,3.5,9.1,8.2,10.1c-0.9,0.2-1.8,0.4-2.7,0.4c-0.7,0-1.3-0.1-1.9-0.2c1.3,4.1,5.1,7,9.6,7.1c-3.5,2.8-7.9,4.4-12.7,4.4c-0.8,0-1.6,0-2.4-0.1c4.5,2.9,9.9,4.6,15.7,4.6c18.9,0,29.2-15.6,29.2-29.2c0-0.4,0-0.9,0-1.3C46.9,13.2,48.6,11.4,50,9.3z"
                  ></path>
                </svg>
              </a>
              <a
                class="icon"
                href="https://github.com/fullwebdev"
                aria-label="fullweb.dev on GitHub"
                rel="noopener noreferrer"
                target="_blank"
              >
                <span class="sr-only">GitHub</span>
                <svg focusable="false" viewBox="0 0 51.8 50.4" fill="none">
                  <path
                    fill="currentColor"
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M25.9,0.2C11.8,0.2,0.3,11.7,0.3,25.8c0,11.3,7.3,20.9,17.5,24.3c1.3,0.2,1.7-0.6,1.7-1.2c0-0.6,0-2.6,0-4.8c-7.1,1.5-8.6-3-8.6-3c-1.2-3-2.8-3.7-2.8-3.7c-2.3-1.6,0.2-1.6,0.2-1.6c2.6,0.2,3.9,2.6,3.9,2.6c2.3,3.9,6,2.8,7.5,2.1c0.2-1.7,0.9-2.8,1.6-3.4c-5.7-0.6-11.7-2.8-11.7-12.7c0-2.8,1-5.1,2.6-6.9c-0.3-0.7-1.1-3.3,0.3-6.8c0,0,2.1-0.7,7,2.6c2-0.6,4.2-0.9,6.4-0.9c2.2,0,4.4,0.3,6.4,0.9c4.9-3.3,7-2.6,7-2.6c1.4,3.5,0.5,6.1,0.3,6.8c1.6,1.8,2.6,4.1,2.6,6.9c0,9.8-6,12-11.7,12.6c0.9,0.8,1.7,2.4,1.7,4.7c0,3.4,0,6.2,0,7c0,0.7,0.5,1.5,1.8,1.2c10.2-3.4,17.5-13,17.5-24.3C51.5,11.7,40.1,0.2,25.9,0.2z"
                  ></path>
                </svg>
              </a>
            </div>
          </div>
        </header>
        <main id="content-container">
          <div class="content">
            <div id="standard-menu">
              <daucus-menu></daucus-menu>
            </div>
            <div class="main-content">
              <div id="page-message"></div>
              <a
                id="edit-page-button"
                target="_blank"
                rel="noopener noreferrer"
                class="hidden"
              >
                <svg viewBox="0 0 24 24" width="20" height="20">
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04a.996.996 0 000-1.41l-2.34-2.34a.996.996 0 00-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
                  />
                </svg>
                <span class="text">{{editButton}}</span>
              </a>
              <div id="page-container">
                {{#home}}{{{home}}}{{/home}} {{^home}}<html-loader
                ></html-loader>{{/home}}
              </div>
              <div id="page-spinner">
                <div class="spinner__double-bounce1"></div>
                <div class="spinner__double-bounce2"></div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <footer id="main-footer">
        <div class="language-switch">
          {{#language.switch}}{{{language.switch}}}{{/language.switch}}
        </div>
      </footer>
    </div>
    <script type="module">
      import { App } from "/dist/app/index.js";
      {{#root}}
      App({{{script.wordings}}})
      {{/root}}
      {{^root}}
      App({{{script.wordings}}}, true)
      {{/root}}
    </script>
  </body>
</html>
