name: Release Subtrees

on:
  push:
    tags:
      - '*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1
        
      - name: Release data-driven-pwa
        run: |
          bash update-subtree.sh
        env:
          DEPLOY_KEY: ${{ secrets.DATA_DRIVEN_PWA_DEPLOY_KEY }}
